{% extends "account/account.html" %}
{% block body %}
  {% if not session.logged_in %}
    <form action=log_in method=post>
      <label for=email>{{m['email']}}<br></label>
      <input type=email name=email value=guest@{{app_name}}.com autofocus=autofocus>
      <br><br>
      <label for=password>{{m['password']}}<br></label>
      <input type=password name=password value='' placeholder='not needed for guest'>
      <br><br>
  {% endif %}
{% endblock %}
{% block button %}
  {% if not session.logged_in %}
      <input class=btn type=submit value="{{m['log in']}}">
    </form>
  {% endif %}
{% endblock %}
